<!doctype html>

<title>Boggle</title>
<link rel="stylesheet" type="text/css" href="css/main.css">

<div id="logo-container">
  <img src="images/logo.png">
</div>

<script type="text/javascript" src="js/main.js"></script>
